/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

/*# sourceMappingURL=custom.css.map */
body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu > li.active > a{
    padding-left: 20px !important;
}
.table td, .table th{
    vertical-align: middle;
}